{% extends 'base.html' %}

{% block content %}

<body>
    <section id="profile">
        <div class="profile">
            <div class="category">Minecrafter: {{username}}</div>
            <div class="category">Balance is {{balance}} / 100 $ </div>
            <div class="category">Blocks:</div>
            <ol>
                {% for i in blocks %}
                <li>Status: {{i[1]}} <a href="/block/{{i[0]}}">Id: {{i[0]}}</a> </li>
                {% endfor %}
            </ol>
        </div>
        <div class="profile">
            {% if message %}
            <p class="warning">--- {{message}} ---</p>
            {% endif %}
            <div class="category">Maximum five operations.</div>
            <div class="category">Valid syntax: "X gets $ from Y;"</div>
            <div class="category">Block executing starts after acceptors approve requests and you join block page</div>
            <textarea rows="5" id="block_info" name="block_operations" form="block_info_form">pturtle gets 1 from ne_bknn;
bob gets 10 from mary;
mary gets 2 from john;
            </textarea>
            <form method="post" id="block_info_form">
                <input id="submit" type="submit">
            </form>
        </div>
    </section>
</body>

{% endblock %}